*.Rhistory
*.html
*.xlsx
*.pptx
*.pyc
*.json
*.csv
.Rproj.user
# /data/
# /data_downloaded/
*.pbix

*.png
/data_down/bca_cc_cust_rel.csv
data_down/dwd_dsc_d365_opportunity_df.csv
data_down/smart_hr_pl_0l.csv
data_up/lb_income_gpmargin
data_down/~$DSC成本中心_Complete.xlsx
